.container

  %hgroup
    %h1 Mega-Sena
    %h2
      Boa sorte,&nbsp;&nbsp;amorzinho!
      <br>
      <br><br>
      
      
    %h1 01 &nbsp;&nbsp;&nbsp;&nbsp; 05 &nbsp;&nbsp;&nbsp;&nbsp; 12 &nbsp;&nbsp;&nbsp;&nbsp; 20 &nbsp;&nbsp;&nbsp;&nbsp; 23 &nbsp;&nbsp;&nbsp;&nbsp; 42 &nbsp;&nbsp;&nbsp;&nbsp; 59
  .toggle
    %input{ type:'checkbox' }
    .button

  .toggle
    %input{ type:'checkbox'}
    .button
    
  .toggle
    %input{ type:'checkbox' }
    .button

  .toggle
    %input{ type:'checkbox'}
    .button
    
  .toggle
    %input{ type:'checkbox'}
    .button
    
  .toggle
    %input{ type:'checkbox'}
    .button

  .toggle
    %input{ type:'checkbox'}
    .button